@model List<ProductCRUDCart.Models.Entities.Product>
@{
    ViewBag.Title = "Cart";
}

@if (Session["Cart"] == null)
{
    <div class="alert alert-danger w-100 p-3 text-center" role="alert">
        <h1>Cart is Empty!</h1>
    </div>
}
else
{
    <h3>Cart</h3>
    <form action="/Product/GenerateOrder" method="post">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>

            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Price</td>
                    <td>@p.Descr</td>
                </tr>
            }
        </table>
        <input type="submit" value="Confirm Order" class="btn btn-primary" />
    </form>
    
}


